@import "tailwindcss";

@theme {
  --font-sans: "Iosevka Charon Mono", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button, .btn {
  cursor: pointer;
  background: var(--color-gray-900);
  padding: 0.5rem 1rem;
  font-size: clamp(12px, 1.2vw, 48px);
  border: solid var(--color-gray-600) 2px;
}