@import "tailwindcss";

@theme {
  --font-sans: "Iosevka Charon Mono", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--color-gray-950);
  color: var(--color-white);
}

button, .btn {
  cursor: pointer;
  background: var(--color-gray-900);
  padding: 0.5rem 1rem;
  font-size: clamp(12px, 1.2vw, 48px);
  border: solid var(--color-gray-600) 2px;
}

a {
  text-decoration: underline;
  text-underline-offset: 20%;
}